h1 {
    text-align: center;
}

.wall {
    background-color: black;
    color:black;
}

.floor {
    background-color: gray;
    color:gray;
}

table {
    border-collapse: collapse;
    margin: auto; 
    text-align: center; 
    width:600px; 
    height:600px;
}

body {
    margin: auto; 
    text-align:center; 
}